streamlit==1.38.0
pandas==2.2.2
numpy==1.26.4
plotly==5.24.1
google-api-python-client==2.146.0
google-auth==2.34.0
httplib2==0.22.0
python-dotenv==1.0.1
pyarrow>=18.0.0
google-cloud-bigquery
db-dtypes
protobuf>=3.20,<6
